__pycache__
*.DS_Store
.idea/
data/
venv/
wandb/
downloaded_data/
figure_output/
benchmark_setup/db
config.ini
dp/LightGBM/
dp/bin/
dp/data/
dp/cmake-build-*
dp/cout_plans.*
dp/model_plans.*
dp/query_names.txt
data.tar.lz4
sql
webserver
lleaves.o
